
<!DOCTYPE html>
<html ng-app ="TodoApp">
  <head>
    <meta charset="utf-8">
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Welcome Todos</title>
  </head>
  <body>
    <div class="container">
    </br>
      <center><h1>TODOS</h1></center>
    </br>
      <div ng-controller="AddTodoController">
        <form name="TodoForm">
          <div class="form-group">

            <center><input type="text" class="form-control"   style="width: 500px;" id="Title" placeholder="What is todo done?" ng-model="title"></center>
          </div>
        <center><button class="btn btn-default" ng-click="add()" >ADD</button></center>
        </form>
      </div>
    </br>

      <div ng-controller="ListTodoController">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Checkbox</th>
              <th>Title</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="todo in todos" >
              <form name="CheckForm" >
                <td><input type="checkbox" ng-init = "done = todo.done" ng-model="done" ng-checked="todo.done" ></td>
                <td>{{todo.title}}</td>
                <td>
                  <div ng-if ='done'>complete</div>

                </td>
              </form>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="node_modules/angular/angular.js" charset="utf-8"></script>
    <script src="app.js"></script>
  </body>
</html>
